html,body{height: 100%;
    overflow: hidden;
}
.warp .nav{
    position: fixed;
    z-index: 20;
    right: 43px;
    top: 283px;
}
.warp .nav li{
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    margin-top: 20px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
    border-radius: 50%;
}
.warp .nav li.aa{
    background-color: white;
}

.commonText{
    color:white;
    line-height:1.5;
    font-size:15px;
}
.course_content{
position:relative;
z-index:5;
width:400px;
margin-left:50px;
}
.commonTitle{
    color:#009ee0;
    font-size:80px;
    line-height:0.8;
    font-weight:bold;
    letter-spacing:-5px;
}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}
.warp{
    height: 100%;
    position: relative;
}
.head{
    width: 1100px;
    height: 80px;
    margin: 0 auto;
}
.logo{
    margin-top: 15px;
    float: left;
}
.music{
    float: left;
    margin: 50px 0 0 5px;
}
.list{
    float: right;
    margin-top: 50px;
}
.list li{
    float: left;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
 }
.hom{
    width: 0;
    position: absolute;
    top:0;
    left: 0;
    transition: width 1s;
    overflow: hidden;
}

.list li .up{
    color: aqua;
}
.list li .up{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: width 1s;
}
.list li:hover .up{
    width: 100%;
}
.list li:hover .hom{
    width: 100%;
}
.whit{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 80px;
    width: 21px;
    height: 11px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    transition: left 1s;
}
.content{
    position: absolute;
    top: 80px;
    bottom: 0;
    background-color: antiquewhite;
    width: 100%;
    overflow: hidden;
}
.contentMain{
    height: 500%;
    transition: top 0.5s;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;


}

.contentMain>li{
    position: relative;
    height: 20%;
    background-color: aquamarine;
    overflow: hidden;
    width: 100%;
}
.contentMain section{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -260px;
    width: 1100px;
    height: 520px;

}
.contentMain>li:nth-child(1){
    background-image: url("../img/bg1.jpg");
}
.contentMain>li:nth-child(2){
    background-image: url("../img/bg2.jpg");
}
.contentMain>li:nth-child(3){
    background-image: url("../img/bg3.jpg");
}.contentMain>li:nth-child(4){
     background-image: url("../img/bg4.jpg");
 }.contentMain>li:nth-child(5){
      background-image: url("../img/bg5.jpg");
  }
  .home{
      position: relative;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      perspective: 1000px;
      /*transition: opacity 1s, transform 1s*/
  }
  .home>li{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      line-height: 520px;
      text-align: center;
      visibility: hidden;
  }
.home li.dd{
    visibility: visible;
}
.home li.ss{
    visibility: hidden;
}

.home li:nth-child(1){
    background:#dc6c5f;
    visibility:visible;
  }
.home li:nth-child(2){
    background:#95dc84;
}
.home li:nth-child(3){
    background:#64b9d2;
}
.home li:nth-child(4){
    background:#000000;
 }
.rout{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}
.rout>li{
    float: left;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    margin: 2px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
    border-radius: 50%;

}
.rout .routfirst{
    background-color: white;
}
.home li.dd{
    visibility: visible;
    animation: leftShow 2s linear;
}
.home li.ss{
    visibility: hidden;
    animation: ruitHieet 2s linear;
}
@keyframes leftShow {
    0%{
        visibility: hidden;
        transform: translateZ(-200px)
    }
    50%{
        transform: translatex(-40%) rotateY(30deg) scale(0.8);
}
    100%{
        visibility: visible;
    }
}
@keyframes ruitHieet {
    0%{
        visibility: visible;

    }
    50%{
        transform: translatex(40%) rotateY(-30deg) scale(0.8);
    }
    100%{
        visibility: hidden;
        transform: translateZ(-200px)
    }
}

.home li.ys{
    visibility: visible;
    animation: ruitS 2s linear;
}
.home li.yy{
    visibility: hidden;
    animation: ruitH 2s linear;
}

@keyframes ruitH {
    0%{
        visibility: visible;
    }
    50%{
        transform: translatex(-40%) rotateY(30deg) scale(0.8);
    }
    100%{
        visibility: hidden;
        transform: translateZ(-200px)
    }
}
@keyframes ruitS {
    0%{
        visibility: hidden;
        transform: translateZ(-200px)
    }
    50%{
        transform: translatex(40%) rotateY(-30deg) scale(0.8);
    }
    100%{
        visibility: visible;

    }
}
.course_photo{
    position: absolute;
    z-index: 5;
    right: 50px;
    top: 70px;
    width: 480px;
}
.course_photo li{
    position: relative;
    float: left;
    width: 120px;
    height: 132px;

}
.course_photo li .front{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/pcwelt.png");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 2s;
    backface-visibility: hidden;
}
.course_photo li .back{
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 1s;
    background-color: #dc6c5f;
}
.course_photo li:hover .back{
    transform: rotateY(360deg);
}
.course_photo li:hover .front{
    transform: rotateY(180deg);
}
.bootmo>li{
    position: relative;
    float: left;
    width: 220px;
    height: 133px;
    margin: 0 1px;
    overflow: hidden;


}
.bootmo li:last-child{
    width: 332px;
    height: 133px;
}
.bootmo{
    box-sizing: border-box;
    padding-left: 50px;
}
.bootmo li img{
    transition: transform 1s;
}

.ww{
    margin: 50px 0 100px 50px;
}
.zz{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgba(25,25,25,0.8);
    opacity: 0;
    transition: opacity 1s;
}
.xiao{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 32px;
    height: 34px;
    background-image: url("../img/zoomico.png");
    transition:background-position 1s;
}
.robot{
    position: absolute;
    left: 900px;
    top: 170px;
    width: 167px;
    height: 191px;
    animation: rotei 5s linear infinite ;

}
.po{
    position: relative;
}
.bootmo li:hover img{
    transform: rotate(45deg) scale(2);
}
.bootmo li:hover .zz{
    opacity: 1;
}
.bootmo li:hover .zz .xiao{
    background-position: 0 -35px;
}

@keyframes rotei {
    /*0%{*/
    /*}*/
    /*49%{left: 500px;*/
        /*transform: rotateY(0deg)*/
        /*}*/
    /*50%{*/
        /*left: 500px;*/
        /*transform: rotateY(180deg)*/

    /*}*/
    /*100%{transform: rotateY(180deg)*/
       /*}*/
    0%{}
    49%{transform: translateX(-400px) }
    50%{transform: translateX(-400px) rotateY(180deg)}
    100%{transform: rotateY(180deg)}
}

.serii div{
    height: 200px;
    width: 260px;
    position: relative;
    z-index: 20;
}
.serii>div:nth-of-type(1){
    position: absolute;
    left: 679px;
    top: 49px;
}
.serii>div:nth-of-type(2){
    position: absolute;
    left: 500px;
    top: 300px;
}
.serii ul{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.serii ul li{
    float: left;
    height: 50%;
    width: 50%;
    overflow: hidden;
    transition: transform 1s;
    transform-origin: 50% 50% -200px;
}
.serii>div:nth-of-type(1) li div{
    height: 100%;
    width: 100%;
    background-image: url("../img/about1.jpg");
    background-repeat: no-repeat;
    transition: transform 1s;
}
.serii>div:nth-of-type(2) li div{
    height: 100%;
    width: 100%;
    background-image: url("../img/about3.jpg");
    background-repeat: no-repeat;
    transition: transform 1s;
}
.serii ul li:nth-child(1) div{
    background-position: 0 0;
}
.serii ul li:nth-child(2) div{
    background-position: -130px 0;
}
.serii ul li:nth-child(3) div{
    background-position: 0 -100px;
}
.serii ul li:nth-child(4) div{
    background-position:-130px -100px;
}
.serii div:hover ul li:nth-child(1) div{
    transform: translateY(100%);
}
.serii div:hover ul li:nth-child(2) div{
    transform: translateX(-100%);
}
.serii div:hover ul li:nth-child(3) div{
    transform: translateX(100%);
}
.serii div:hover ul li:nth-child(4) div{
    transform: translateY(-100%);
}
  /*其他样式*/
/*.serii div:hover ul li:nth-child(1){*/
    /*transform: rotateY(-360deg) translateX(200px) translateZ(200px) scale(0.1)  ;*/
/*}*/
/*.serii div:hover ul li:nth-child(2){*/
    /*transform: rotateY(360deg) translateX(-200px) translateZ(200px) scale(0.1)  ;*/
/*}*/
/*.serii div:hover ul li:nth-child(3){*/
    /*transform: rotateY(-360deg) translateX(200px) translateZ(200px) scale(0.1)  ;*/
/*}*/
/*.serii div:hover ul li:nth-child(4){*/
    /*transform: rotateY(360deg) translateX(-200px) translateZ(200px) scale(0.1)  ;*/
/*}*/
/*.serii div:hover img{*/
    /*border-radius: 50%;*/
    /*transform:scale(1.5) rotateX(360deg);*/
/*}*/
/*.serii div img{*/
    /*transition: 1s;*/
/*}*/
.team_content{
    color:white;
    line-height:1.5;
    font-size:15px;
    float: right;
    width: 400px;
    margin: 50px;
    transition: transform 1s;
}
.team_lists li{
    background-image: url("../img/team.png");
    background-repeat: no-repeat;
    float: left;
    width: 233px;
    height: 100%
}

.team_lists{
position: absolute;
top: 230px;
left: 50%;
margin-left: -472px;
width: 944px;
height: 448px;
}
.team_lists li:nth-child(1){
    background-position: 3px 0px;
}
.team_lists li:nth-child(2){
    background-position: -230px 0px;
}
.team_lists li:nth-child(3){
    background-position: -480px 0px;
}
.team_lists li:nth-child(4){
    background-position: -710px 0px;
}
#mycanvas{
    position: absolute;
    left:0;
    top:0;
}
.mengban{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
}
.mengban .up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #009ee0;
    z-index: 100;
    transition: height 1s;
}
.mengban .down{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #009ee0;
    z-index: 100;
    transition: height 1s;
}
.mengban .baitiao{
    position: absolute;
    height: 10px;
    top:0;
    bottom: 0;
    margin: auto 0;
    background-color: white;
    z-index: 101;
}
